<div class="row gy-4 tabs">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label" for="tb_item_edit_order">Order</label>
            <input  type="number" class="form-control form-control-lg" id="tb_item_edit_order" value="" placeholder="1">
        </div>
        <div class="form-group">
            <label class="form-label" for="tb_item_edit_title_url">Title URL:</label>
            <label class="form-label" id="tb_item_edit_title_url"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <br/>
            <div class="g">
                <div id='div_check'>
                </div>
            </div>
            <br/>

            <div class="row gy-4 tabs">
                <div class="col-md-6">
                <label class="form-label" for="sl_item_edit_order">Sort Type</label>
                <br/>
                <select name="sl_item_edit_sort_type" id="sl_item_edit_sort_type">
                    <option value="title">Title</option>
                    <option value="order">Order</option>
                    <option value="date">Date</option>
                </select>
                </div>
                <div class="col-md-6">
                <label class="form-label" for="sl_item_edit_order">Sort Order</label>
                <br/>
                <select name="sl_item_edit_sort_order" id="sl_item_edit_sort_order">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                </div>
            </div>

            <div class="row gy-4 tabs">
                <div class="col-md-6">
                <label class="form-label" for="sl_item_edit_order"> Delete Protection</label>
                <br/>
                <select name="sl_item_edit_delete_protection" id="sl_item_edit_delete_protection">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                </div>
                <div class="col-md-6">
                </div>
            </div>



        </div>
    </div>
</div>

