<div class="col-md-6">
    <div class="form-group">
        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
            <li>
                <a  href="javascript:void(0);" href="#" class="btn btn-lg btn-primary " id='btn_item_submit'>Save</a>
            </li>
            <li>
                <a  id='btn_cancel' href="#" data-dismiss="modal" class="link link-light">Cancel</a>
            </li>
            <li>
                <div id="div_validation_message">
                    <div class="alert alert-success alert-icon">
                        <em class="icon ni ni-check-circle"></em> <strong>
                            Your item </strong>has been saved successfully.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

