<div class="row gy-4 tabs">
    <div class="col-md-6">
        <div id='div_html'>
            <textarea id="tb_item_edit_html" name="tb_item_edit_html" rows="4" cols="50">
            </textarea>
        </div>
    </div>
    <div class="col-12">
    </div>
</div>

