<div id="accordion" class="accordion">
    <div class="accordion-item">
        <a href="#" class="accordion-head" data-toggle="collapse" data-target="#accordion-item-1"> <h6 class="title">Primary FieldZ</h6> <span class="accordion-icon"></span>      </a>      <div class="accordion-body collapse show" id="accordion-item-1" data-parent="#accordion">          <div class="accordion-inner">              <p>
                <div class="row gy-4 tabs">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_1">
                        </div>
                    </div>
                </div>
                <div class="row gy-4 tabs">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_2">
                        </div>
                    </div>
                </div>
                <div class="row gy-4 tabs">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_3">
                        </div>
                    </div>
                </div>
                <div class="row gy-4 tabs">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_4">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="#"></label>
                            <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_4">
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#accordion-item-2">
            <h6 class="title">Secondary FieldZ</h6>          <span class="accordion-icon"></span>
        </a>
        <div class="accordion-body collapse" id="accordion-item-2" data-parent="#accordion" >
            <div class="accordion-inner">
                <p>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_5">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_5">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_6">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_6">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_7">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_7">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_8" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_8" >
                    </div>
                </div>
            </div>
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#accordion-item-3">
            <h6 class="title">Extra FieldZ</h6>          <span class="accordion-icon"></span>
        </a>
        <div class="accordion-body collapse" id="accordion-item-3" data-parent="#accordion" >
            <div class="accordion-inner">
                <p>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_9">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_9">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_10">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_10">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_11">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_11">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_12" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_12" >
                    </div>
                </div>
            </div>
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#accordion-item-4">
            <h6 class="title">More FieldZ</h6>          <span class="accordion-icon"></span>
        </a>
        <div class="accordion-body collapse" id="accordion-item-4" data-parent="#accordion" >
            <div class="accordion-inner">
                <p>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_13">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_13">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_14">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_14">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_15">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_15">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_field_16" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_value_16" >
                    </div>
                </div>
            </div>
                </p>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#accordion-item-5">
            <h6 class="title">Date FieldZ</h6>          <span class="accordion-icon"></span>
        </a>
        <div class="accordion-body collapse" id="accordion-item-5" data-parent="#accordion" >
            <div class="accordion-inner">
                <p>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_date_1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control date-picker" id="tb_item_edit_date_value_1">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_date_2">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control date-picker" id="tb_item_edit_date_value_2">
                    </div>
                </div>
            </div>
            <div class="row gy-4 tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_date_3">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="#"></label>
                        <input  type="text" class="form-control date-picker" id="tb_item_edit_date_value_3">
                    </div>
                </div>
            </div>
                </p>
            </div>
        </div>
    </div>
</div>

