<ul class="nk-menu">
    <li class="nk-menu-heading">
        <h6 class="overline-title text-primary-alt">Dashboard</h6>
    </li>
    <li class="nk-menu-item has-sub">
        <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
            <span class="nk-menu-text">Content</span>
        </a>
        <ul class="nk-menu-sub">
            <li class="nk-menu-item">
                <a href="/blog_post" class="nk-menu-link"><span class="nk-menu-text">Blog Posts</span></a>
                <a href="/category" class="nk-menu-link"><span class="nk-menu-text">Categorys</span></a>
                <a href="/gallery" class="nk-menu-link"><span class="nk-menu-text">Galleries</span></a>
                <a href="/item_map" class="nk-menu-link"><span class="nk-menu-text">Items</span></a>
            </li>
        </ul>
    </li>
    <li class="nk-menu-item has-sub">
        <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-building"></em></span>
            <span class="nk-menu-text">Office</span>
        </a>
        <ul class="nk-menu-sub">
            <li class="nk-menu-item">
                <a href="/member" class="nk-menu-link"><span class="nk-menu-text">Members</span></a>
                <a href="/project" class="nk-menu-link"><span class="nk-menu-text">Projects</span></a>
                <a href="/customer" class="nk-menu-link"><span class="nk-menu-text">Customers</span></a>
                <a href="/contact" class="nk-menu-link"><span class="nk-menu-text">Contacts</span></a>
            </li>
        </ul>
    </li>
    <li class="nk-menu-item has-sub">
        <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-shield-star"></em></span>
            <span class="nk-menu-text">News</span>
        </a>
        <ul class="nk-menu-sub">
            <li class="nk-menu-item">
                <a href="/review" class="nk-menu-link"><span class="nk-menu-text">Reviews</span></a>
            </li>
        </ul>
    </li>
    <li class="nk-menu-item has-sub">
        <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-sign-dollar"></em></span>
            <span class="nk-menu-text">Store</span>
        </a>
        <ul class="nk-menu-sub">
            <li class="nk-menu-item" style="list-style:none">
                <a href="/order/cartz" class="nk-menu-link"><span class="nk-menu-text">Carts</span></a>
                <a href="/order/orderz" class="nk-menu-link"><span class="nk-menu-text">Orders</span></a>
                <a href="/product" class="nk-menu-link"><span class="nk-menu-text">Products</span></a>
                <a href="/service" class="nk-menu-link"><span class="nk-menu-text">Services</span></a>
                <a href="/event" class="nk-menu-link"><span class="nk-menu-text">Events</span></a>
            </li>
        </ul>
    </li>
</ul>
